<h1>SmartSilo32</h1>
<h2>Sensor</h2>
<ul>
    <li><b>TempHigh:</b> {{name}}</li>
    <li><b>TempLow:</b> {{age}}</li>
    <li><b>PressureHigh:</b> {{email}}</li>
    <li><b>PressureLow:</b>  </li>
    <li><b>MPU1Height:</b>  </li>
    <li><b>MPU2Height:</b>  </li>
    <li><b>BMPHeight:</b>  </li>
</ul>
<h2>Control</h2>
<ul>
  <li><b>StatusMagneticSW:</b> {{email}}</li>
  <li><b>MagneticSW (on/off):</b> {{name}}</li>
  <li><b>StatusMotor:</b> {{email}}</li>
  <li><b>Motor or Electric hoist SW (on/off):</b> {{age}}</li>
</ul>
